<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Paiment de Salaire pour:  <b>{{toPayStudent.firstname}} {{toPayStudent.lastname}}</b></h4>
      </div>

  <div class="modal-body">

        <form role="form">
          <table class="table table-bordered"  ng-model="toPayStudent.products" bs-checkbox-group>
            <thead>
              <tr>
                <th>
                #
                </th>
                <th>
                  Trimestre 1
                </th>
                <th>
                  Trimestre 2
                </th>
                <th>
                  Trimestre 3
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  Mois 1
                </th>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t1.janvier" ng-click="confirmProduct('t1','janvier')" type="checkbox" value="t1.janvier"></label> Janvier

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t2.mai||!toPayStudent.products.t1.mai" ng-click="confirmProduct('t2','mai')" type="checkbox" value="t2.mai"></label> Mai

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t3.septembre||!toPayStudent.products.t2.septembre" ng-click="confirmProduct('t3','septembre')" type="checkbox" value="t3.septembre"></label> Septembre

                </td>
              </tr>
              <tr>
                <th>
                  Mois 2
                </th>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t1.fevrier" ng-click="confirmProduct('t1','fevrier')" type="checkbox" value="t1.fevrier"></label> Fevrier

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t2.juin" ng-click="confirmProduct('t2','juin')" type="checkbox" value="t2.juin"></label> Juin

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t3.octobre" ng-click="confirmProduct('t3','octobre')" type="checkbox" value="t3.octobre"></label> Octobre

                </td>
              </tr>
              <tr>
                <th>
                  Mois 3
                </th>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t1.mars" ng-click="confirmProduct('t1','mars')" type="checkbox" value="t1.mars"></label> Mars

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t2.juillet" ng-click="confirmProduct('t2','juillet')" type="checkbox" value="t2.juillet"></label> Juillet

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t3.novembre" ng-click="confirmProduct('t3','novembre')" type="checkbox" value="t3.novembre"></label> Novembre

                </td>
              </tr>
              <tr>
                <th>
                  Mois 4
                </th>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t1.avril" ng-click="confirmProduct('t1','avril')" type="checkbox" value="t1.avril"></label> Avril

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t2.aout" ng-click="confirmProduct('t2','aout')" type="checkbox" value="t2.aout"></label> Aout

                </td>
                <td>
                  <label class="btn btn-default"><input ng-disabled="toPayStudent.products.t3.decembre" ng-click="confirmProduct('t3','decembre')" type="checkbox" value="t3.decembre"></label> Decembre

                </td>
              </tr>
            </tbody>

          </table>
        </form>

</div>

      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-danger" ng-click="$hide()">
            <i class="fa fa-times"></i> Annuler
        </button> -->
        <button type="button" class="btn btn-default" ng-click="$parent.paymentStep2(toPayStudent);$hide();">
            <i class="fa fa-forward"></i> Etape suivante
        </button>
      </div>

    </div>

  </div>
</div>
