<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modifier L'Employé : <b>{{toEditStudent.firstname}} {{toEditStudent.lastname}} </b></h4>
      </div>

      <div class="modal-body">

          <b>Métier</b> <select ng-model="toEditStudent._levelId" class="form-control" ng-options="level._id as level._id for level in levels">
                  </select>
<!--
          <b>Classe:</b> <select ng-model="toEditStudent.class" class="form-control" ng-options="class._id as class._id for class in classes">
                  </select> -->
                  <br/>

        <form role="form">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                #
                </th>
                <th>
                  Trimestre 1
                </th>
                <th>
                  Trimestre 2
                </th>
                <th>
                  Trimestre 3
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  Mois 1
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t1.janvier"/> Janvier
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t2.mai"/> Mai
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t3.septembre"/> Septembre
                </td>
              </tr>
              <tr>
                <th>
                  Mois 2
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t1.fevrier"/> Fevrier
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t2.juin"/> Juin
                </td> 
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t3.octobre"/> Octobre
                </td>
              </tr>
              <tr>
                <th>
                  Mois 3
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t1.mars"/> Mars
                </td> 
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t2.juillet"/> Juillet
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t3.novembre"/> Novembre
                </td>
              </tr>
              <tr>
                <th>
                  Mois 4
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t1.avril"/> Avril
                </td> 
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t2.aout"/> Aout
                </td> 
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t3.decembre"/> Decembre
                </td>
              </tr>
             <!-- <tr>
                <th>
                  Activité
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t1.a"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t2.a"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditStudent.price.t3.a"/>
                </td>
              </tr> -->
            </tbody>

          </table>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$hide()">
            <i class="fa fa-times"></i> Annuler
        </button>
        <button type="button" class="btn btn-primary" ng-click="$parent.updateStudent(toEditStudent);$hide();">
            <i class="fa fa-plus"></i> Modifier
        </button>
      </div>

    </div>

  </div>
</div>
